/* Stylesheet by Jacob P. Hrubecky, 2017 */
body{
  margin: 30;
}

.unitedStates {
    fill: #252525;
    stroke: #CCC;
    stroke-width: .5px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

.map {
    border: medium solid #999;
    background-color:#257099;
}

.chart {
    background-color: #252525;
    border: medium solid #999;
    float: right;
    margin: 0px 20px 0 0;
}

.numbers {
    fill: black;
    font-family: sans-serif;
    font-size: .9em;
}

.chartTitle {
    font-family: sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    fill: white;
}

.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.dropdown {
    position: absolute;
    top: 11px;
    left: 11px;
    z-index: 10;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

option {
    font-weight: normal;
}

#mydiv{

}

.mydivclass{

}
